<p>
  batch works!
</p>

<div>
    <div>
      <label>BatchName</label>
      <input [(ngModel)]="batch.BatchName" type="text" />
    </div>

    <div>
      <label>Hours Taken</label>
      <input id="txtHoursTaken" [(ngModel)]="batch.HoursTaken" type="text" />
    </div>

    <div>
      <label>Start Date</label>
      <input id="txtHoursTaken" [(ngModel)]="batch.StartDate" type="date" />
   </div>
    <div>
     <label>End Date</label>
     <input id="txtHoursTaken" [(ngModel)]="batch.TentativeEndData" type="date" />
    </div>
    <div>
     <label>Number of Hours</label>
     <input id="txtHoursTaken" [(ngModel)]="batch.NoOfHours" type="text" />
    </div>
    <div>
     <label>Remarks</label>
     <input id="txtHoursTaken" [(ngModel)]="batch.Remarks" type="text" />
    </div>
  <input type="button" (click)="saveBatchData()" value="Save">
</div>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Batch Name</th>
      <th>Hours</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of batches">
       <td>{{item.BatchId}}</td>
       <td>{{item.BatchName}}</td>
       <td>{{item.NoOfHours}}</td>
      </tr>
</tbody>
</table>